<header class="bg-secondary text-primary text-white">
    <div class="text-center mt-2 mb-1" id="img-logo">
        <a class="btn btn-outline-primary" role="button" href="/">
            <img src="./img/logo.webp" alt="CPET logo" width="100" height="100">
        </a>  
    </div>
  <!-- Botones -->
  
    <nav class="">
      <ul class="">
        
        <a class="btn btn-primary" href="/post" role="button">PUBLICAR</a>
        <a class="btn btn-primary" href="#" role="button">POST</a>
        <a class="btn btn-primary" href="#" role="button">DENUNCIAR</a>
    </nav>
  
  </header>